<!DOCTYPE html>
<html>
<head>
  <title>Content Management System</title>
  <%= stylesheet_link_tag    "application.css" %>
  <%= javascript_include_tag "application.css" %>
	<!-- CLEditor script-->  
  <script type="text/javascript">
    $(document).ready(function() {
      $(".input").cleditor();
    });
  </script>  
	<%= csrf_meta_tags %>
</head>
<body class="cms_body">
  <div class="flash">
    <% flash.each do |type, message| -%>
      <div class="message <%= type %>">
        <p><%= message %></p>
      </div>
    <% end -%>
  </div>

	<%= yield %>

</body>
</html>