<!DOCTYPE html>
<html>
<head>
  <title>Content Management System</title>
	<%= yield :tinymce %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
	<%= yield :tinymce_init %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="flash">
    <% flash.each do |type, message| -%>
      <div class="message <%= type %>">
        <p><%= message %></p>
      </div>
    <% end -%>
  </div>

	<%= yield %>

</body>
</html>
