<% use_tinymce -%>

<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_title %><br />
    <%= f.text_field :category_title %>
  </div>
  <div class="field">
    <%= f.label :link_name %><br />
    <%= f.text_field :link_name %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :class => "mce-editor" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
