<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label "Name for link appendage" %><br />
    <%= f.text_field :link_name %><br />
    <%= f.label "Hint: No slashes, just one unique word that is appended to the url and references the page" %> 
  </div>
  <hr>
  <% for i in 0..LOCALES.count-1 %>
    <h3> <%= LOCALESNAMES[i] %> </h3>
    <div class="field">
      <%= f.label "Category page title"%><br />
        <%= f.fields_for :category_title do |o| %>
          <%= o.text_field LOCALES[i], :value => @category.category_title[LOCALES[i]] %>
        <% end %>
    </div>
    <div class="field">
      <%= f.label :body %><br />
      <%= f.fields_for :body do |o| %>
        <%= o.text_area LOCALES[i], :value => @category.body[LOCALES[i]], :class => "input" %>
      <% end %>
    </div>
    <hr>
  <% end %>
  <div class="actions">
    <%= f.submit "Create"%>
  </div>
<% end %>
