<div class="cms_border">
<h1>The body of the <%= @category.category_title[params[:lang]] %> main page will look like:</h1>

<%= raw(@category.body) %>
<p>
	<%= link_to 'Edit', edit_category_path(@category) %> 
</p>
</div>

<div id="pages_list", class="cms_border">

<h1>The following sub-pages are present within the <%= @category.category_title[params[:lang]] %> main page:</h1>
<% if @pages.count.zero? %>
	<p>
		No sub-pages are present. You may create one by clicking the link.
	</p>
<% else %>
	<table>
 		<tr>
  	  <th>Page title</th>
  	  <th>Name for url</th>
  	  <th>Body</th>
  	  <th></th>
			<th></th>
  	</tr>

	<% @pages.each do |page| %>
  	<tr class= "<%= cycle('list_line_odd', 'list_line_even') %>">
  	  <td><%= page.page_title %></td>
  	  <td><%= page.link_name %></td>
  	  <td class="list_description"><%= truncate(strip_tags(page.body), :length => 70) %></td>
  	  <td class="list_actions"><%= link_to 'Show', category_page_path(@category, page) %><br/>
  	  	<%= link_to 'Edit', edit_category_page_path(@category, page) %><br/>
  	  	<%= link_to 'Destroy', category_page_path(@category, page), confirm: 'Are you sure?', method: :delete %><br/>
			</td>
			<td class="list_actions">
				<% if page.previous_page(@category) %>
					<%= link_to('Move Up', :controller => 'pages', :action => 'move_page_up', :id => page, :category_id => @category.id) %>
				 	<br/>
				<% end %>
				<%= link_to('Move Down', :controller => 'pages', :action => 'move_page_down', :id => page, :category_id => @category.id) if page.next_page(@category) %>
			</td>
  	</tr>
	<% end %>
	</table>
<% end %>
<br>
<%= link_to 'New Sub Page', new_category_page_path(@category) %>
</div>
<br>
<%= link_to 'Back', categories_path %>




