<div id="files_list">

	<% if @assets.count.zero? %>
		<p>
			No uploaded files are present. You may add one by clicking the link.
		</p>
	<% else %>

		<table>
  		<tr>
    		<th>Name</th>
    		<th>File Location</th>
    		<th></th>
  		</tr>

			<% @assets.each do |file| %>
	  		<tr class= "<%= cycle('list_line_odd', 'list_line_even') %>">
  	  		<td><%= file.name %></td>
  	  		<td><%= file.file_url %></td>
  	  		<td class="list_actions"><%= link_to 'Show', file.file_url %><br>
  	  		<%= link_to 'Edit', edit_file_path(file) %><br>
  	  		<%= link_to 'Destroy', file, confirm: 'Are you sure?', method: :delete %></td>
  			</tr>
			<% end %>
		</table>

		<br />
	<% end %>

	<%= link_to 'Upload new file', new_file_path %>
</div>
