<%= form_for([@category, @page]) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>
      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Page title" %><br />
    <%= f.text_field :page_title %>
  </div>
  <div class="field">
    <%= f.label "Name for link appendage" %><br />
    <%= f.text_field :link_name %><br />
		<%= f.label "Hint: No slashes, just one unique word that is appended to the url and references the page" %> 
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :class => "input" %>
  </div>
  <div class="actions">
    <%= f.submit "Create"%>
  </div>
<% end %>
