<%= form_for([@category, @page]) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>
      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.fields_for :page_title do |o| %>
        <%= o.text_field :nl, :value => @page.page_title["nl"] %>
        <%= o.text_field :en, :value => @page.page_title["en"] %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label "Name for link appendage" %><br />
    <%= f.text_field :link_name %><br />
		<%= f.label "Hint: No slashes, just one unique word that is appended to the url and references the page" %> 
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.fields_for :body do |o| %>
        <%= o.text_area :nl, :value => @page.body["nl"], :class => "input" %>
        <%= o.text_area :en, :value => @page.body["en"], :class => "input" %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Create"%>
  </div>
<% end %>
