<div id="pages_list">

<h1>Listing pages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Body</th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr class= "<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= page.title %></td>
    <td><%= page.link_url %></td>
    <td class="list_description"><%= truncate(strip_tags(page.body), :length => 70) %></td>
    <td class="list_actions"><%= link_to 'Show', page %><br/>
    	<%= link_to 'Edit', edit_page_path(page) %><br/>
    	<%= link_to 'Destroy', page, confirm: 'Are you sure?', method: :delete %><br/>
		</td>
  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'New Page', new_page_path %>
